<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SimulateShipInfoMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SimulateShipInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Ship_MMSI" jdbcType="INTEGER" property="shipMmsi" />
    <result column="Ship_call" jdbcType="VARCHAR" property="shipCall" />
    <result column="Ship_class" jdbcType="VARCHAR" property="shipClass" />
    <result column="Ship_state" jdbcType="VARCHAR" property="shipState" />
    <result column="Ship_longitude" jdbcType="DECIMAL" property="shipLongitude" />
    <result column="Ship_latitude" jdbcType="DECIMAL" property="shipLatitude" />
    <result column="Ship_length" jdbcType="VARCHAR" property="shipLength" />
    <result column="Ship_width" jdbcType="VARCHAR" property="shipWidth" />
    <result column="Ship_heading" jdbcType="VARCHAR" property="shipHeading" />
    <result column="Ship_speed" jdbcType="VARCHAR" property="shipSpeed" />
    <result column="Ship_draught" jdbcType="VARCHAR" property="shipDraught" />
    <result column="Ship_load" jdbcType="VARCHAR" property="shipLoad" />
    <result column="Datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="Channel_division_ID" jdbcType="VARCHAR" property="channelDivisionId" />
  </resultMap>
</mapper>